# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


/ShortStop/ShortStop.xcodeproj/xcuserdata/conrad.stoll.xcuserdatad/xcschemes/xcschememanagement.plist
/ShortStop/ShortStop.xcodeproj/xcuserdata/conrad.stoll.xcuserdatad/xcschemes/ShortStop.xcscheme

/ShortStop/ShortStop.xcodeproj/project.xcworkspace/xcuserdata/conrad.stoll.xcuserdatad/UserInterfaceState.xcuserstate
/ShortStop/ShortStop.xcodeproj/project.xcworkspace/xcshareddata/ShortStop.xccheckout

/ShortStop/Build/Products/

/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStopTests.build/ShortStopTests.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStopTests.build/ShortStopTests-project-headers.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStopTests.build/ShortStopTests-own-target-headers.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStopTests.build/ShortStopTests-generated-files.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStopTests.build/ShortStopTests-all-target-headers.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/ShortStop.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/ShortStop.dep
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/ShortStop-project-headers.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/ShortStop-own-target-headers.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/ShortStop-generated-files.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/ShortStop-all-target-headers.hmap
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/Objects-normal/
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/build-state.dat
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/assetcatalog_generated_info.plist
/ShortStop/Build/Intermediates/ShortStop.build/Debug-iphonesimulator/ShortStop.build/assetcatalog_dependencies.txt
/ShortStop/Build/Intermediates/PrecompiledHeaders/

/ShortStop/Build/

Breakpoints_v2.xcbkptlist

/ShortStop/ShortStop.xcodeproj/xcuserdata/conrad.stoll.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
